
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  box-sizing: border-box;

  @include mobile {
    max-width: 376px;

  }

  @include tablet {
    max-width: 768px;
    padding: 0 15px;
  }

  @include low-desktop{
    max-width: 1024px;
  }

  @include desktop {
    padding: 0 32px;
    max-width: 1264px;
  }
}