
.container {
  width: 100%;
  margin: 0 auto;

  padding-top: 0;
  padding-bottom: 0;

  box-sizing: content-box;

  @include mobile {
    max-width: 376px;
    padding: 0 10px;
  }

  @include tablet {
    max-width: 768px;
    padding: 0 15px;
  }

  @include desktop {
    padding: 0 32px;
    max-width: 1200px;
  }
}