// font family
$main-font:"Prompt", sans-serif;

// transition
$transition: all 0.3s ease-out;
$transition-burger: all 0.5s ease-out;
$transition-questions: all 1s linear;

$white: #F6F7F7;
$black:#1E1E1E;
$accent:#5646CC;
$error:#ff1e0e;

// modal
$modal-bgd: #00000066;



