.header{
    padding-top: 20px;
    padding-bottom: 10px;
}
.navigation{

    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 49px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #1E1E1E;
        opacity: 0.15;
    }
}


.header-nav-container{
    display: none;
    @include desktop{
        display: flex;
        margin-left: auto;
    }

}
.header-nav{
    margin-left: auto;
    margin-right: 40px;

    & .item{
        padding-top: 10px;
        padding-bottom: 9px;

    }

    & a{
        transition: $transition;
    }
    & a:hover, a:focus{
      color: $accent;
    }
}

.change-lang-container{
    position: relative;

    &.open .lang-dropdown{
      opacity: 1;
      pointer-events: all;
    }
    &.open .svg{
        transform: rotateX(180deg);
    }
}

.change-lang{
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 9px;
    cursor: pointer;
    transition: $transition-btn;

    &:hover,&:focus{
        color: $accent;
    }

    & .svg{
        transition: transform 0.3s linear;
    }

    
}

.lang-dropdown{
    position: absolute;
    top: 40px;
    right: 0;
    opacity: 0;
    pointer-events: none;

    background-color: #CCC8EA;
    border-radius: 12px;
    min-width: 130px;
    width: 100%;
    overflow: hidden;
    transition: $transition-btn;


    & li{
        cursor: pointer;
        padding: 10px 15px;
        transition: $transition-btn;
        
        &:hover,&:focus{
            background-color: $accent;
            color: $white;
        }
        &:active{
            // background-color: #5646CC1A;
            background-color: #CCC8EA;
        }
    }

}


.burger-button{
    position: relative;
    width: 30px;
    height: 30px;

    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $black;

    transition: $transition-btn;

    outline: none;
    border: none;

    cursor: pointer;

    z-index: 12;

    &:hover,&:focus{
        color: $accent;
    }
    &:active{
        color: $accent;
    }
    
    &-icon{
        position: absolute;
        top: 0;
        left: 0;

        width: 30px;
        height: 30px;

        stroke: currentColor;

        transition: $transition-btn;

    }



    @include desktop{
        display: none;
    }



}

.burger-button-icon.btn-hide{
    opacity: 0;
}