.hero{
    padding-top: 15px;
    padding-bottom: 80px;

            @include desktop {
            background-image: url('../img/hero/hero.webp');
            // background-position: center;
            background-position: bottom 80px right calc(50% - 306px);
            background-repeat: no-repeat;
            background-size: clamp(540px, 20.683rem + 20.42vw, 589px) auto;
            @include retina{
                background-image: url('../img/hero/hero@2x.webp');
            }
        }   

    & .sup-title{
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 75px;
    }

    .title{
        font-size: 50px;
        line-height: 1.1;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .descr{
        margin-bottom: 30px;
        max-width: 488px;
    }


}

.hero-text-container{

    width: 569px;
    padding-bottom: 44px;
}
