.innovations-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet{
        justify-content: flex-start;
        margin: 0 auto;
        max-width: 794px;
    }

    @include desktop{
        justify-content: center;
        max-width: 100%;
        flex-wrap: nowrap;
    }

    &__item{
        width: 100%;
        
        min-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include tablet{
            flex-direction: row;
        }

        @include low-desktop{
            max-width: 387px;
            gap: 15px;
            flex-direction: column;
        }
    }
}

.innovation-text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.innovation-img{
    display: block;
    line-height: 0;
    font-size: 0;
    width: 387px;
    height: 200px;
}

.innovation-sup-title{
    // #5646CC33
    padding: 9px 30px 10px 30px;
    background-color: #5646CC33;
    border-radius: 50px;
    max-width: max-content;


    color: $accent;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;

}

.innovation-title{
    // font-size: 22px;
    // line-height: 1.1;
    margin-bottom: 15px;
}

.innovation-descr{
    font-size: 14px;
    @include low-desktop{
        font-size: 15px;
    }
   
}