.offers{
   background-color: #5646CC1A;

   .sub-title{
    max-width: 692px;
    margin-bottom: 30px;
    font-size: 14px;

    @include low-desktop{
        font-size: 16px;
    }
   }

   &-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
   }

   &-list__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        max-width: 459px;
        width: 100%;
        
        @include tablet{
            max-width: 359px;
        }
        
        @include low-desktop{
            max-width: 318px;
        }
        @include desktop{

            max-width: 386px;
        }
        
   
        &__number{
            padding: 14px;
            background-color: $accent;
            border-radius: 10px;

            font-size: 20px;
            line-height: 1.1;
            font-weight: 500;
            color: $white;
        }
        &__title{
            font-size: 18px;
            line-height: 1.1;

            @include low-desktop{
                font-size: 24px;
            }
        }
        &__descr{
            font-size: 14px;
            @include low-desktop{
                font-size: 15px;
            }
        }
    }
}