.privacy{
    padding-top: 60px;
    padding-bottom: 80px;

    &-list{
        margin-bottom: 20px;
        max-width: 1098px;
        width: 100%; 
    }
    &-list:last-child{
        margin-bottom: 0px;
    }

    .list-title{
        margin-bottom: 20px;
    }

}