.questions{

    &-content-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @include low-desktop{
            align-items: normal;
            flex-direction: row;
        }
        
    }

    &-list{
        width: 100%;
        max-width: 590px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-list__item{
        margin-top: 0!important;
        border: none!important;
        background-color: #5646CC1A!important;
        padding: 20px;
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center!important;
        align-items: flex-start!important;

        transition: $transition;
        min-height: 120px;

        @include tablet{
            padding: 30px;
        }

        @include low-desktop{
            min-height: 140px;
        }

        @include desktop{
            min-height: 120px;
        }

        h3{
            width: 100%;
        }
    }

    &-list__item.is-active{
        min-height: 1px;
        .questions-list__item-title{
            
            &::after{

                content: '' !important;
                position: absolute;
                right: -42px!important;
                top: 50%!important;
                transform: translateY(-50%)!important;
                width: 30px;
                height: 30px;
                opacity: 1;
                background-image: url('../img/icons/minus.svg');

                @include tablet{
                    right: -72px!important;
                    top: 50%!important;
                }

                @include low-desktop{
                    right: -50px!important;
                    top: 50%!important;
                }

                @include desktop{
                    right: -72px!important;
                    top: 50%!important;
                }
            }
            &::before{
              
                content: '' !important;
                position: absolute;
                right: -42px!important;
                top: 50%!important;
                transform: translateY(-50%)!important;
                width: 30px;
                height: 30px;
                opacity: 0;
                background-image: url('../img/icons/plus.svg');

                @include tablet{
                    right: -72px!important;
                    top: 50%!important;
                }

                @include low-desktop{
                    right: -50px!important;
                    top: 50%!important;
                }

                @include desktop{
                    right: -72px!important;
                    top: 50%!important;
                }
            }
        }
    }

    &-list__item-title{
        position: relative;
        font-family: $main-font !important;
        font-size: 18px !important;
        line-height: 1.1 !important;
        width: 100% !important;
        max-width: 272px !important;

        color: $black !important;
        text-align: left !important;
        padding: 0 !important;
        display: block !important;
        cursor: pointer !important;
        background-color: transparent !important;
        transition: $transition !important;
        -webkit-text-decoration: none !important;
        text-decoration: none !important;
        margin: 0 !important;
        border: 0 !important;

        @include tablet{
            max-width: 458px !important;
        }

        @include low-desktop{
            max-width: 378px !important;
        }

        @include desktop{
            max-width: 458px !important;
        }

        &::after{
            content: '' !important;
            position: absolute;
            right: -42px!important;
            top: 50%!important;
            transform: translateY(-50%)!important;
            width: 30px!important;
            height: 30px;
            opacity: 0;
            background-image: url('../img/icons/minus.svg');
            transition: $transition;

            @include tablet{
                right: -72px!important;
                top: 50%!important;
            }

            @include low-desktop{
                right: -50px!important;
                top: 50%!important;
            }

            @include desktop{
                right: -72px!important;
                top: 50%!important;
            }
        }
        &::before{
            content: '' !important;
            position: absolute;
            right: -42px!important;
            top: 50%!important;
            transform: translateY(-50%)!important;
            width: 30px;
            height: 30px;
            opacity: 1;
            background-image: url('../img/icons/plus.svg');
            transition: $transition;

            @include tablet{
                right: -72px!important;
                top: 50%!important;
            }

            @include low-desktop{
                right: -50px!important;
                top: 50%!important;
            }

            @include desktop{
                right: -72px!important;
                top: 50%!important;
            }
        }
    }

    &-list__item-descr{
        font-family: $main-font!important;
        margin-top: 20px!important;
        font-size: 14px!important;
        line-height: 1.3!important;
        color: $black!important;
        padding: 0!important;

        @include tablet{
            font-size: 15px!important;
        }
    }

}

